.button {
	background: var(--background-dark);
	border: none;
	color: white;
	cursor: pointer;
	transition: filter 0.2s ease-in;
}

.button:hover {
	filter: brightness(1.15);
}

.button:active {
	cursor: auto;
	filter: none;
}

.button--user_form {
	align-self: start;
	border-radius: 0.75rem;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.button--modal {
	align-self: end;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	pointer-events: all;
}
